@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

body {
  display: block;
  margin: 0 auto;
  background: skyblue;

}

header {
  display: inline-block;
  border: 3px solid black;
  font-family: 'Indie Flower', cursive;
  background: lightblue;
  text-align: center;
  color: lightyellow;
  height: 100px;
  width: 100%;
}

main {
  width: 100%;
  font-family: 'Indie Flower', cursive;
  background: lightblue;
  background-image: url("http://cdn.playbuzz.com/cdn/a27412e4-2820-4212-a0d5-1aaf4ac86206/b9620a16-45c5-45b4-b9c4-325a51fe460b.jpg");
  background-repeat: no-repeat;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}

h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 36px;
}

p {
  font-size: 36px;
  display: none;
}

div {
  display: inline-block;
  background-image: url("https://upload.wikimedia.org/wikipedia/en/3/3b/3x5_Notecard.jpg");
  background-repeat: no-repeat;
  color: #000;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  border: 3px solid black;
  margin: 2em 2em 2em 8em;
  width: 500px;
  height: 300px;
}

footer {
  display: none;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  font-family: 'Indie Flower', cursive;
  background: lightblue;
  text-align: center;
  color: red;
  height: 100px;
  width: 100%;
}
